<!doctype html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Manage players</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/wingcss/0.1.8/wing.min.css"/>
    <link rel="shortcut icon" type="image/x-icon" href="image/Smile.png" />
    <style>
        input[type=number] {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            -webkit-transition: .5s;
            transition: .5s;
            outline: 0;
            font-family: 'Open Sans', serif;
        }
    </style>
    <!-- Load AngularJS -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script type="text/javascript">
        var app = angular.module("PlayerManagement", []);

        //Controller Part
        app.controller("PlayerManagementController", function ($scope, $http) {

            //Initialize page with default data which is blank in this example
            $scope.players = [];

            $scope.form = {
            	playerId: 0, //TODO select default user from cookie
            	password: "" 
            };

            //Now load the data from server
            _refreshPageData();

            //HTTP POST method for logging in players
            $scope.login = function () {
                var method = "";
                var url = "";
                var data = {};
                
                //Id is absent so add players - POST operation
                method = "POST";
                url = 'api/login';
                data.playerId = $scope.form.playerId;
                data.password = $scope.form.password;
            

                $http({
                    method: method,
                    url: url,
                    data: angular.toJson(data),
                    headers: {
                        'Content-Type': 'application/json'
                    }
                }).then(_success, _error);
            };

            /* Private Methods */
            //HTTP GET- get all players collection
            function _refreshPageData() {
                $http({
                    method: 'GET',
                    url: 'api/players'
                }).then(function successCallback(response) {
                    $scope.players = response.data;
                }, function errorCallback(response) {
                    console.log(response.statusText);
                });
            }

            function _success(response) {
                _refreshPageData();
                _clearForm()
            }

            function _error(response) {
                console.error(response.statusText);
            }

            //Clear the form
            function _clearForm() {
                $scope.form.id = -1;
                $scope.form.name = "";
                $scope.form.gloryPoints = "";                
                $scope.form.lootEnabled = true;
                $scope.form.enabled = true;
            }
        });
    </script>
</head>
<body ng-app="PlayerManagement" ng-controller="PlayerManagementController">

<div class="container">
    <h1>Login</h1>
    <p>
        Get access to hc-loot by selecting your player and enter your password 
    </p>

    <form ng-submit="update()">
    	<div class="row">
	    	<div class="col-6">
	        	<select ng-model="form.playerId" style="width: 450px">
	  				<option ng-repeat="player in players" value="{{ player.id }}">{{ player.name }}</option>
				</select>
	        </div>
        </div>
        <div class="row">
            <div class="col-6">
            	<input type="password" placeholder="Password" ng-model="form.password" size="60"/>
            </div>
        </div>
        
        <input type="submit" value="Login"/>
    </form>
</div>

</body>
</html>
