<div class="container" width="50" ng-controller="loginCtrl">

    <div ng-show="loading" align="center"><img src="image/loading-indicator.gif"></div>

    <div ng-hide="loading">
        <h1>Login</h1>

        <p>
            Get access to hc-loot by selecting your player <br>
            and enter your password. If your user name is not there,<br>
            login with guest and create your user under player management.<br>
            <b>You log out again by refreshing the page!</b>
        </p>

        <form ng-submit="login()">

            <div class="row">
                <div class="col-6">
                    <select  id="playerIdSelect" ng-model="playerId" style="width: 100%">
                        <option ng-repeat="player in players" value="{{ player.id }}">{{ player.name }}</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <input type="password" placeholder="Password" ng-model="password" size="100%"/>
                </div>
            </div>

            <input type="submit" value="Login"/> &nbsp; 
            <span ng-show="waiting" style="color: red">Waiting for response...</span>
            <span ng-show="error" style="color: red">{{ error }}</span></td>
        </form>
    </div>
</div>
