<div class="container" ng-controller="lootItemManagementCtrl">
    <h1>Manage loot items</h1>
    <p>
        Add/modify loot items for Clan War that ended {{ lootItemProperties.lastLootDate }}.
    </p>

    <h3>Add/Modify loot items</h3>
    <form ng-submit="update()">
    	<div class="row">
            <div class="col-6"><input type="text" placeholder="Row letter [A|B] & column number ex. A1" ng-model="form.rowAndNum" size="60"/></div>
        </div>
        <div class="row">
            <div class="col-6"><input type="text" placeholder="Name/Description" ng-model="form.name" size="60"/></div>
        </div>
        <div class="row">
            <div class="col-6"><label><input type="checkbox" ng-model="form.common"> Common item - Copied to next round</label></div>
        </div>
        <input type="submit" value="Save"/>
        
    </form>

    <h3>Loot item list</h3>    

	<table>
    	<tr>
    		<td class="row">
    			<select size="6" ng-model="selectedLootItemId" multiple>
            		<option ng-repeat="lootItem in lootItems" value="{{ lootItem.id }}">({{ lootItem.prioritySequence }}) {{ lootItem.rowAndNum }} {{ lootItem.name }} &nbsp;&nbsp;&nbsp;</option>
        		</select>
    		</td>
    		<td>
    			<a ng-click="moveUp()" class="btn">&uarr;</a><br><br><br>
    			<a ng-click="moveDown()" class="btn">&darr;</a>
    		</td>
    	</tr>
    </table>
    <div>&nbsp;</div>
    
    <div class="row">
        <a ng-click="edit()" class="btn">Modify</a>
        <a ng-click="remove()" class="btn">Remove</a>
    </div>
</div>