<div class="container" ng-controller="playerManagementCtrl">
    <h1>Player management</h1>
    <p>
        Manage players and if they can or want loot in this round. 
    </p>

    <h3>Add/Modify player</h3>
    <form ng-submit="update()">
        <div class="row">
            <div class="col-6"><input type="text" placeholder="Name" ng-model="form.name" size="60"/></div>
        </div>
        <div class="row">
            <div class="col-6"><input type="text" placeholder="Password" ng-model="form.password" size="60"/></div>
        </div>
        <div class="row">
            <div class="col-6"><input type="text" placeholder="GloryPoints" ng-model="form.gloryPoints" size="60"/></div>
        </div>
        <div class="row">
            <div class="col-6"><label><input type="checkbox" ng-model="form.lootEnabled"> I want loot</label></div>
        </div>
        <div class="row" ng-show="loggedInPlayer.admin">
            <div class="col-6"><label><input type="checkbox" ng-model="form.enabled"> Player is enabled</label></div>
        </div>
        <div class="row" ng-show="loggedInPlayer.admin">
            <div class="col-6"><label><input type="checkbox" ng-model="form.admin"> Player is Admin</label></div>
        </div>
        <input ng-disabled="saveDisabled" type="submit" value="Save"/>
    </form>

    <h3>Player list</h3>

    <table cellpadding="15">
        <tr class="table-row-cell">
            <th class="table-cell" align="left">Name</th>
            <th class="table-cell">&nbsp;</th>
            <th class="table-cell">&nbsp;</th>
        </tr>
        <tr class="table-row-cell" ng-repeat="player in allPlayers">
            <td class="table-cell">{{ player.name }}</td>
            <td class="table-cell">
                <a ng-show="loggedInPlayer.admin || player.id == loggedInPlayer.id" ng-click="edit( player )" class="btn">Edit</a>
                <a ng-show="loggedInPlayer.admin" ng-click="remove( player )" class="btn">Remove</a>
            </td>
        </tr>
    </table>
</div>