<!doctype html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Manage players</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/wingcss/0.1.8/wing.min.css"/>
    <link rel="shortcut icon" type="image/x-icon" href="image/Smile.png" />
    <style>
        input[type=number] {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            -webkit-transition: .5s;
            transition: .5s;
            outline: 0;
            font-family: 'Open Sans', serif;
        }
    </style>
    <!-- Load AngularJS -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script type="text/javascript">
        var app = angular.module("PlayerManagement", []);

        //Controller Part
        app.controller("PlayerManagementController", function ($scope, $http) {

            //Initialize page with default data which is blank in this example
            $scope.players = [];

            $scope.form = {
                id: -1,
                name: "",
                gloryPoints: 0,
                lootEnabled: true,
                enabled: true,
                admin: false
            };

            //Now load the data from server
            _refreshPageData();

            //HTTP POST/PUT methods for add/edit players
            $scope.update = function () {
                var method = "";
                var url = "";
                var data = {};
                if ($scope.form.id == -1) {
                    //Id is absent so add players - POST operation
                    method = "POST";
                    url = 'api/players';
                    data.name = $scope.form.name;
                    data.gloryPoints = $scope.form.gloryPoints;
                    data.lootEnabled = $scope.form.lootEnabled;
                    data.enabled = $scope.form.enabled;
                    data.admin = $scope.form.admin;
                } else {
                    //If Id is present, it's edit operation - PUT operation
                    method = "PUT";
                    url = 'api/players/' + $scope.form.id;
                    data.name = $scope.form.name;
                    data.gloryPoints = $scope.form.gloryPoints;
                    data.lootEnabled = $scope.form.lootEnabled;
                    data.enabled = $scope.form.enabled;
                    data.admin = $scope.form.admin;
                }

                $http({
                    method: method,
                    url: url,
                    data: angular.toJson(data),
                    headers: {
                        'Content-Type': 'application/json'
                    }
                }).then(_success, _error);
            };

            //HTTP DELETE- delete player by id
            $scope.remove = function (player) {
                $http({
                    method: 'DELETE',
                    url: 'api/players/' + player.id
                }).then(_success, _error);
            };

            //In case of edit players, populate form with player data
            $scope.edit = function (player) {
                $scope.form.id = player.id;
                $scope.form.name = player.name;
                $scope.form.gloryPoints = player.gloryPoints;
                $scope.form.lootEnabled = player.lootEnabled;
                $scope.form.enabled = player.enabled;
                $scope.form.admin = player.admin;                
            };

            /* Private Methods */
            //HTTP GET- get all players collection
            function _refreshPageData() {
                $http({
                    method: 'GET',
                    url: 'api/players'
                }).then(function successCallback(response) {
                    $scope.players = response.data;
                }, function errorCallback(response) {
                    console.log(response.statusText);
                });
            }

            function _success(response) {
                _refreshPageData();
                _clearForm()
            }

            function _error(response) {
                console.error(response.statusText);
            }

            //Clear the form
            function _clearForm() {
                $scope.form.id = -1;
                $scope.form.name = "";
                $scope.form.gloryPoints = "";                
                $scope.form.lootEnabled = true;
                $scope.form.enabled = true;
                $scope.form.admin = false;
            }
        });
    </script>
</head>
<body ng-app="PlayerManagement" ng-controller="PlayerManagementController">

<div class="container">
    <h1>Player management</h1>
    <p>
        Manage players and if they can or want loot in this round. 
    </p>

    <h3>Add/Modify player</h3>
    <form ng-submit="update()">
        <div class="row">
            <div class="col-6"><input type="text" placeholder="Name" ng-model="form.name" size="60"/></div>
        </div>
        <div class="row">
            <div class="col-6"><input type="text" placeholder="GloryPoints" ng-model="form.gloryPoints" size="60"/></div>
        </div>
        <div class="row">
            <div class="col-6"><label><input type="checkbox" ng-model="form.lootEnabled"> Can get and want loot</label></div>
        </div>
        <div class="row">
            <div class="col-6"><label><input type="checkbox" ng-model="form.enabled"> Player is enabled</label></div>
        </div>
        <div class="row">
            <div class="col-6"><label><input type="checkbox" ng-model="form.admin"> Player is Admin</label></div>
        </div>
        <input type="submit" value="Save"/>
    </form>

    <h3>Player list</h3>
    <div class="row">
        <div class="col-2">Navn</div>
    </div>
    <div class="row" ng-repeat="player in players">
        <div class="col-2">{{ player.name }}</div>
        <div class="col-8"><a ng-click="edit( player )" class="btn">Edit</a> <a ng-click="remove( player )" class="btn">Remove</a>
        </div>
    </div>
</div>

</body>
</html>
